@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/themes/base/images/Inventory-management-system-objectives.png" />

</div>

<style>
    img{
        width : 50%;
    }

    div {
        text-align: center;
    }
</style>